/**/
/* Back ButtonContainer  */
.ProductPage .pc1 {
  padding-top: 5%;
  display: flex;
  justify-content: center;
  position: relative;
}

.ProductPage .goback {
  background-color: var(--col1);
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  margin: 10px 0px;
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  min-width: 100px;
}

.ProductPage .goback svg {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}

.ProductPage .goback:hover {
  background-color: black;
}

.ProductPage .pc1 .c11 {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}

.ProductPage .pc1 .c11 .imgset {
  width: 10%;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.ProductPage .pc1 .c11 .imgset img {
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.ProductPage .pc1 .c11 .imgset .active {
  border: 5px solid var(--col1);
  width: 95%;
}

.ProductPage .pc1 .c11 .imgbig {
  width: 70%;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.ProductPage .pc1 .c12 {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.ProductPage .pc1 .c12 .c121 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.ProductPage .pc1 .c12 .price {
  font-size: 2rem;
  font-weight: 600;
  color: var(--col1);
  display: flex;
  align-items: center;
}

.ProductPage .pc1 .c12 .price span {
  font-size: 20px;
  font-weight: 400;
  color: gray;
  text-decoration: line-through;
  margin-left: 10px;
}

.ProductPage .pc1 .c12 .incrdecr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  border: 1px solid var(--col1);
  border-radius: 5px;
}

.ProductPage .pc1 .c12 .incrdecr button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: var(--col1);
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.ProductPage .pc1 .c12 .incrdecr p {
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}

.ProductPage .btncont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}

.ProductPage .btncont button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--col1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.ProductPage .btncont button:hover {
  background-color: black;
}

/**/
/**/

.ProductPage .pc2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: aqua; */
}

.ProductPage .pc2 .tabs {
  display: flex;
  margin: 20px 0px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.ProductPage .pc2 .tabs .active {
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--col1);
  cursor: pointer;
  border-bottom: 2px solid var(--col1);
  margin: 0px 10px;
  background-color: white;
}

.ProductPage .pc2 .tabs .inactive {
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: gray;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  margin: 0px 10px;
  background-color: white;
}

.ProductPage .reviewcont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
}

.ProductPage form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  width: 70%;
  max-width: 700px;
}

.ProductPage form .fromgroup {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.ProductPage .reviewcont form div label {
  font-size: 15px;
  font-weight: 600;
  color: var(--col1);
}

.ProductPage .reviewcont form div input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--col1);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.ProductPage .reviewcont form div textarea {
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--col1);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.ProductPage .reviewcont button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--col1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0px;
}

.ProductPage .reviewcont button:hover {
  background-color: black;
}

.ProductPage .allreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-width: 700px;
  margin-top: 50px;
}

.ProductPage .allreview .head1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--col1);
  font-weight: 300;
  font-size: 25px;
  color: var(--col1);
}

.ProductPage .allreview .review {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0px;
}

.ProductPage .reviewhead {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0px;
  position: relative;
}
.ProductPage .reviewhead p {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  color: var(--col1);
  position: absolute;
  left: 0px;
}
.ProductPage .reviewhead span {
  background-color: var(--col1);
  margin: 0px;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  margin-left: 10px;
}

.ProductPage .reviewbody {
  font-size: 14px;
}

.ProductPage .desc {
  width: 70%;
  max-width: 900px;
  align-self: center;
}
/**/

.ProductPage .rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.ProductPage .rating .starinactive {
  color: lightgray;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.ProductPage .rating .starinactive:hover {
  color: var(--col1);
}

.ProductPage .rating .staractive {
  color: gold;
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: gold;
}

.ProductPage .rating1 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.ProductPage .rating1 .starinactive {
  color: lightgray;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.ProductPage .rating1 .starinactive:hover {
  color: var(--col1);
}

.ProductPage .rating1 .staractive {
  color: gold;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: gold;
}

.ProductPage .SliderContainer {
  width: 100%;
  padding: 20px;
}
/**/

/* Responsiveness */

@media only screen and (max-width: 768px) {
  .ProductPage .pc1 {
    flex-direction: column;
    align-items: center;
  }
  .ProductPage .pc1 .c11 {
    width: 80%;
    /* background-color: aqua; */
    align-items: center;
    flex-direction: column-reverse;
  }
  .ProductPage .pc1 .c11 .imgset {
    max-width: 300px;
    width: 100%;
    margin: 30px 5px;
    /* background-color: aqua; */
    flex-direction: row;
  }
  .ProductPage .pc1 .c12 {
    width: 80%;
  }
  .ProductPage form {
    width: 100%;
  }

  .ProductPage form .fromgroup {
    display: flex;
    flex-direction: column;
    margin: 5px 20px;
  }
  .ProductPage .reviewcont form div label {
    font-size: 15px;
    font-weight: 600;
    color: var(--col1);
  }

  .ProductPage .reviewcont form div input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--col1);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .ProductPage .reviewcont form div textarea {
    width: 100%;
    height: 50px;
    border: 1px solid var(--col1);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .ProductPage .reviewcont form button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--col1);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0px;
    align-self: center;
  }

  .ProductPage .allreview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 900px;
    margin-top: 50px;
  }

  .ProductPage .allreview .head1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--col1);
    font-weight: 300;
    font-size: 20px;
    color: var(--col1);
  }

  .ProductPage .allreview .review {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0px;
  }
  .ProductPage .reviewhead {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin: 10px 0px;
    position: relative;
  }

  .ProductPage .reviewhead p {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: var(--col1);
    position: relative;
  }

  .ProductPage .reviewhead span {
    background-color: var(--col1);
    margin: 0px;
    padding: 2px 10px;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    font-size: 15px;
  }
  .ProductPage .reviewbody {
    font-size: 12px;
    text-align: center;
  }

  .ProductPage .desc {
    width: 90%;
    max-width: 900px;
    align-self: center;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    color: var(--col2);
  }

  .ProductPage .rating1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
  }
  .ProductPage .pc1 .c11 .imgbig {
    width: 70%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
  }
}

/**/
/**/
/**/

/**/
/**/
/**/
