.ExtraPage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.SectionLeft {
  display: flex;
}

.SectionRight {
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
}

.common {
  width: 80%;
  margin: 80px;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  padding: 20px 0px;
}

.common div {
  width: 45%;
}

.common div h1 {
  font-size: 55px;
  font-weight: 400;
  color: var(--col1);
  margin: 0 0 10px 0;
  padding: 0;
  /* text-align: center; */
  letter-spacing: 1px;
}

.common div p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(36, 36, 36);
  margin: 0 0 10px 0;
  padding: 0;
  /* text-align: center; */
  letter-spacing: 1px;
}

/* Contact Us From CSS Start */
.ExtraPageForm {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  width: 50%;
  /* max-width: 700px; */
  align-self: center;
}

.ExtraPageForm .fromgroup {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  /* background-color: aqua; */
}

.ExtraPageForm div label {
  font-size: 15px;
  font-weight: 600;
  color: var(--col1);
}

.ExtraPageForm div input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--col1);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.ExtraPageForm div textarea {
  width: 100%;
  min-height: 100px;
  border: 1px solid var(--col1);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.ExtraPageForm button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--col1);
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px 0px;
}

.ExtraPageForm .formheading {
  color: var(--col1);
  margin: 0 0 30px 0;
  padding: 0;
  /* text-align: center; */
  letter-spacing: 1px;
  font-size: 60px;
}

.ExtraPageForm .rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

.ExtraPageForm .rating .starinactive {
  color: lightgray;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.ExtraPageForm .rating .starinactive:hover {
  color: var(--col1);
}

.ExtraPageForm .rating .staractive {
  color: gold;
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: gold;
}

/**/
/* Privacy Policy and Terms & Condition Page CSS*/
.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  align-self: center;
  padding: 40px;
}

.Container h2 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(119, 119, 119);
  margin-bottom: 10px;
  padding: 0;
  /* text-align: center; */
  letter-spacing: 1px;
}

.Container p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(155, 155, 155);
  margin: 0 0 10px 0;
  padding: 0;
  /* text-align: center; */
  letter-spacing: 1px;
}

/**/
/* FAQ Page CSS*/

.ExtraPage .FaqContainer {
  width: 60%;
  background-color: white;
  align-self: center;
  padding: 60px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

.ExtraPage .FaqContainer svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.ExtraPage .FAQs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px 0px;
}

.ExtraPage .FAQs .FAQHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
}

.ExtraPage .FaqContainer .FAQHead h1 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(119, 119, 119);
  margin: 0;
  padding: 0;
  /* text-align: center; */
  letter-spacing: 1px;
}

.ExtraPage .FaqContainer .FAQBody p {
  font-size: 15px;
  font-weight: 400;
  color: rgb(155, 155, 155);
  padding: 0;
  /* text-align: center; */
  letter-spacing: 1px;
  margin: 0px;
}

/**/
/* Responsiveness : 1500px */

@media (max-width: 1500px) {
  .common {
    width: 100%;
    margin: 0px;
    padding: 30px;
  }

  .common img {
    width: 40%;
  }

  .common div {
    width: 60%;
  }

  .common div h1 {
    font-size: 40px;
  }

  .common div p {
    font-size: 20px;
  }

  .ExtraPage .FaqContainer {
    width: 90%;
  }
}

/**/
/* Responsiveness : 1000px */

@media (max-width: 1000px) {
  .common {
    width: 100%;
    margin: 0px;
    padding: 30px;
  }

  .common img {
    width: 50%;
  }

  .common div {
    width: 50%;
  }

  .common div h1 {
    font-size: 40px;
  }

  .common div p {
    font-size: 16px;
  }

  .ExtraPageForm {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    width: 70%;
    /* max-width: 700px; */
    align-self: center;
    gap: 0px;
  }

  .ExtraPageForm .fromgroup {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    /* background-color: aqua; */
  }

  .ExtraPageForm div label {
    font-size: 15px;
    font-weight: 600;
    color: var(--col1);
  }

  .ExtraPageForm div input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--col1);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .ExtraPageForm div textarea {
    width: 100%;
    height: 100px;
    border: 1px solid var(--col1);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .ExtraPageForm button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--col1);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0px;
  }

  .ExtraPage .formheading {
    color: var(--col1);
    margin: 0 0 10px 0;
    padding: 0;
    /* text-align: center; */
    letter-spacing: 1px;
    font-size: 30px;
  }
}

/**/
/* Responsiveness : 800px */

@media (max-width: 800px) {
  .common {
    width: 100%;
    margin: 0px;
    padding: 30px;
    flex-direction: column;
  }

  .common img {
    width: 90%;
  }

  .common div {
    width: 90%;
  }

  .common div h1 {
    font-size: 40px;
    text-align: center;
  }

  .common div p {
    font-size: 16px;
    text-align: center;
  }

  .ExtraPageForm {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    width: 90%;
    /* max-width: 700px; */
    align-self: center;
  }

  .ExtraPageForm .rating {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0px;
  }

  .ExtraPageForm .rating .starinactive {
    color: lightgray;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .ExtraPageForm .rating .staractive {
    color: gold;
    width: 25px;
    height: 25px;
    cursor: pointer;
    fill: gold;
  }
}

/**/
/* Responsiveness : 600px */

@media (max-width: 600px) {
  .Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    margin: 30px 0px;
  }
  .Container h2 {
    font-size: 20px;
    font-weight: 500;
    color: var(--col1);
    margin: 0;
    padding: 0;
    /* text-align: center; */
    letter-spacing: 1px;
  }

  .Container p {
    font-size: 15px;
    font-weight: 400;
    color: rgb(155, 155, 155);
    padding: 0;
    /* text-align: center; */
    letter-spacing: 1px;
    margin: 0px;
  }

  .ExtraPage .FaqContainer {
    width: 97%;
    /* background-color: aqua; */
    padding: 20px;
  }
  .ExtraPage .FaqContainer .FAQHead h1 {
    font-size: 17px;
  }

  .ExtraPage .FaqContainer .FAQBody p {
    font-size: 13px;
  }
}

/**/
