/**/

.UserProfile {
  display: flex;
  flex-direction: column;
}

.MainContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10vh;
  gap: 20px;
}

.UserProfile .MainContainer .LeftContainer {
  width: 20%;
  /* background-color: aqua; */
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  min-height: 50vh;
}

.UserProfile .MainContainer .RightContainer {
  width: 60%;
  /* background-color: aqua; */
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  min-height: 50vh;
}

/**/
/* Responsiveness : 1000px */

@media (max-width: 1000px) {
  .UserProfile .MainContainer .LeftContainer {
    width: 30%;
    /* background-color: aqua; */
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    min-height: 50vh;
  }

  .MainContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10vh;
    gap: 10px;
  }
}

/**/
/* Responsiveness : 1000px */

@media (max-width: 1000px) {
  .UserProfile .MainContainer .LeftContainer {
    width: 30%;
    /* background-color: aqua; */
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    min-height: 50vh;
  }
  .UserProfile .MainContainer .RightContainer {
    width: 68%;
    /* background-color: aqua; */
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    min-height: 50vh;
  }

  .MainContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10vh;
    gap: 10px;
  }
}
/**/

/* @media (max-width: 800px) {
    .userprofile .userprofilein .left {
        width: 20%;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 5px;
        min-height: 50vh;
    }
    .userprofile .userprofilein .right {
        width: 78%;
        border: 1px solid rgb(207, 207, 207);
        border-radius: 5px;
        min-height: 50vh;
    }
} */

/* Responsiveness : 500px */

@media (max-width: 500px) {
  .UserProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .MainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 10vh;
    gap: 20px;
  }

  .UserProfile .MainContainer .LeftContainer {
    width: 97%;
    /* background-color: aqua; */
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    /* min-height: 50vh; */
    align-self: center;
    min-height: 0;
  }

  .UserProfile .MainContainer .RightContainer {
    width: 97%;
    /* background-color: aqua; */
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    /* min-height: 50vh; */
    align-self: center;
    min-height: 0;
  }
}

/**/
